
/* Services
   ========================================================================== */

.tax-faqcat .archive-description {
	border: none;
	background-color: transparent;
	text-align: center;
	padding: 0px;
}

.tax-faqcat .archive-description h1.archive-title {
	font-size: 42px;
	text-transform: none;
}

.faqspage {
	min-height: 700px;
	min-height: 80vh;
}

.faq-section {
	margin-bottom: 10px;
}

.faq-section p {
	margin-bottom: 20px;
}

.faq-section h3 {
	background-color: #666;
	color: white;
	color: rgba(255,255,255,0.7);
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 0;
	-webkit-transition: .25s all ease-in-out;
	-o-transition: .25s all ease-in-out;
	transition: .25s all ease-in-out;
	cursor: pointer;
}

.faq-section h3:hover,
.faq-section h3.ui-accordion-header-active {
	color:white;
}

.faq-section h3.ui-accordion-header-active {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.faq-section h3:focus {
	outline: none;
}

.faq-section div {
	padding: 20px 25px 0px;
	margin-bottom: 25px;
	background-color: #f7f7f7;
	border: 1px solid #ebebeb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
}


.faq-section h3 i {
	float: right;
	opacity: 0.5;
	font-size: 15px;
	margin-top: 6px;
	-webkit-transition: .25s all ease-in-out;
	-o-transition: .25s all ease-in-out;
	transition: .25s all ease-in-out;
	transform: rotate(0deg);
}

.faq-section h3.ui-accordion-header-active i.fa-chevron-down {
	transform: rotate(-180deg);
}

.faq-section h3:hover i {
	opacity: 0.7;
}